
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


	/*Le CSS qui est commun à tous le site*/
	
*{
border: 0;
padding: 0;
margin: 0;
}
	
body

{
	font-family: 'Lakki Reddy', cursive, sans serif;
	margin:0;
}
	
	
	



p
{
	margin-top:0;
	margin-bottom:0;

	
}
	
img
{
	display:block;
}

a{
color:white;
text-decoration:none;
}


ul {
list-style-type: none;
padding-left:0;
margin-top:0;
margin-bottom:0;
}

	.bordure-centrale

{
	margin-left:15%;
	
	
	padding:3% 1% 3% 1%;
	
	
	
}

	.decalage
	{
		padding-top:12%;
	}

	.grand-decalage
	{
		padding-top:22%;
	}

.texte-petit
{
	font-size:xx-small;
}

.center
{
	margin-left: 42.5%;
    

}

.texte-noir
{
	color:black;
}



.image
{

	width:100%;
	height:100%;

}
/* Le CSS qui concerne uniquement la barre de gauche*/



	
	.bar
	{
		position: absolute;
		background-color:brown;
		
		
		
	}
	
	
	.box-bar
	{	
		display: flex;	
		font-size: 18px;
		width:15%;
		height:110%;
		z-index:0;
		
		overflow:hidden;
		background: rgb(209,155,0);
		background: linear-gradient(90deg, rgba(209,155,0,0.7699812346813726) 10%, rgba(0,255,163,1) 100%, rgba(2,0,36,1) 100%, rgba(0,212,255,1) 100%);
		border:2px solid black;
		background-color:brown;
		position:fixed;	
		flex-direction: column;
		
		
		
	}
			
		.bouton-bar
		{			
			padding:1em;
			
			border: 1px solid black;
			
			background:brown;

			
			
		}
		
			.bouton-couleur
			{
				background-color:red;
			}

			.bouton-acceuil
			{
				background-color:blue;
				height:10vh;
				font-size: 35px;
				text-align: center;
				vertical-align:middle;
				
			}
		

		
		
	
		.bouton-hover:hover{color:#000!important;background-color:#00ffff!important}





	/*Le CSS qui concerne la description d'un objet choisi*/


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
	
	/* CSS qui concerne l'acceuil */
	
	.boite-liste-accueil
	{
	display: flex;	
	justify-content:space-around;
	font-size: 18px;
	
	}
	
	.boite-description-accueil
	{
		border:1px solid black;
		width:70%;
		padding:3%;
		background-color:white;
		border-radius:30px;
	}
	
	.texte-accueil-grand
	{
		font-size:x-large;
		font-weight: bold;
	}

	
	
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

	/* Le CSS qui concerne la partie "notre équipe" */
	
	.boite-liste-equipe
	{
	display: flex;
	
	justify-content:space-around;
	font-size: 18px;
	
	
	
	
	
	}

	
	.boite-equipe
	{
		
		
		
		
		
		width:20%;
		
		
		
		margin-top:2%;
		
		
	}
	

	
	.image-border-equipe
	{
		border-radius: 50%;
		

		
	}

	.boite-liste-description-equipe
	{
		display: flex;
		justify-content:space-around;
		font-size: 18px;
		
		
		
	}

	
	.boite-description-equipe
	{
		
		/* border-radius:10px; */
		
		overflow:hidden;
		border:1px solid black;
		
		
		width:12%;
		
		padding:1%;
		
		margin-top:1%;
		background:white;
		
		text-align: center;
		
	}
	
	.texte-equipe-grand
	{
		font-size:x-large;
		font-weight: bold;
	}
	.texte-equipe-metier
	{
		font-size:large;
		font-weight: bold;
	}
	.texte-equipe-moyen
	{
		font-size:medium;
	}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/		
		
	/*Le CSS qui concerne la recherche d'objets*/
	
	.boite-liste-objet
	{
	display: flex;	
	justify-content:space-around;
	font-size: 18px;	
	}

	
	.boite-objet
	{
		
		border-radius:10px;
		
		
		
		width:20%;
		
		
		
		margin-top:2%;
		
		
	}
	

	
	.image-border
	{
		border-radius:10px;
	}

	.boite-liste-description-objet
	{
		display: flex;
		justify-content:space-around;
		font-size: 18px;
		
		
	}
		
	.boite-description-objet
	{
		
		border-radius:10px;				
		border:1px double black;				
		width:20%;		
		padding:1% 0% 1% 0%;				
		margin-bottom:3%;		
		text-align: center;
		background:white;
		overflow:hidden;
		
	}
	
	.prix-objet
	{
		color:red;
		
	}
	
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/		
		
	/*Le CSS qui concerne les produits*/
	.boite-liste-produit
	{
	display: flex;	
	
	font-size: 18px;
	
	}
	
	.image-produit
	{
		border-radius:10px;
		border:1px solid black;
		
		
	}
	
	.image-produit
	{
		margin-left:5%;
		margin-top:3%;
	}
	
	.boite-liste-description-produit
	{
		display: flex;
		flex-direction:row;
		font-size: 18px;
		
		
	}
		
	.boite-description-produit
	{
		
		border-radius:10px;				
		border:1px double black;				
		width:55%;		
		padding:2%;
		margin-top:6%;		
		margin-bottom:3%;		
		text-align: justify;
		background:white;
		overflow:hidden;
		margin-left:15%;
		
	}
	
		.prix-objet
	{
		color:red;
		text-align:center;
		
	}
	
	
	
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

	/* Ce CSS concerne la promotion dans le Footer */
	
	
	.boite-liste-promotion
	{
		display:flex;
		flex-direction:row;
		justify-content:space-around;
	}
	

	
